$clay: #9C7E76;
$beige: #E8DCD3;

.btn-danger{
  background-color: $clay;
  border: none;
}

.btn-danger:hover{
  background-color: $beige;
  border: none;
  color: black;
}

.btn-danger:active{
  background-color: $beige;
  border: none;
  color: black;
}

main{
  min-height: 80vh;
}

button{
  height: 70px;

}

footer{
  clear: both;
  bottom: 0;
}


